#root{
  margin: 0px;
  padding: 0px
}
a{
  color: white;
  text-decoration: none;
  padding-right: 15px;
}
a.hover{
  text-decoration: none;
}
.ContHome{
  margin: 30px;
  display: row;
}
.ContHome .bienv{
  font-style: normal;
  font-size: xx-large;
  margin-bottom: 10px;
}
.ContHome .llamado{
  font-size: large;
}

.ContHome .imagen{
  background-image: url("./assets/img/torta.png");
  max-width: 200px;
}
.formulario{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.formulario .bienv{
  font-size: x-large;
}
.cont-alert{
  display: flex;
  width: 100%;
  justify-content: center;
}
.cont-alert .alert{
  margin: 25px;
  justify-items: center;
}